</main>

</div>
<script src="/js/burgerMenuHandler.js"></script>
<script src="/js/seeAllButtonHandler.js"></script>
<script src="/js/sortByCategoryHandler.js"></script>
<script src="/js/cartQuantitiesHandler.js"></script>
<script src="/js/bookmarkHandler.js"></script>
<script src="/js/cartHandler.js"></script>




</body>

</html>